
  .nav{
    background-color:rgb(6, 6, 6);
    padding: 15px;
 

  }
  .show-container{
   
   height: 50%;
  }

  .nlink {
   
    color: white;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    text-decoration: none;

  }

  .nlink:hover {
    border-right: 4px solid white;
    background: rgb(76, 93, 208);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  .btn{
 text-align: right;

  }

  

/* sidebar css */
* {
  margin: 2;
  box-sizing: border-box;
 
}

.main-container {
  display: flex;
  margin: 0;
}
main {
  padding: 1px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}



/* Sidebar */
.sidebar {
  background: rgb(6, 6, 6);
  color: white;
  height: 120vh;
  overflow-y: auto;
  
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  text-decoration: none;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(101, 115, 201);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}


.table{
 background-color: rgb(255, 255, 255);
  text-emphasis: center;
  margin-left: 50%;
  margin-top: 10%;
}

/* ============ login from css======== */



/* ========registraction css================ */
.regform{
  background-color:rgba(29, 93, 122, 0.96);  margin-top: 30px;
  margin-left: 30rem;
  text-align: center;
  width: 35rem;
  height: 20rem;
  padding-top: 1px;
  border-radius: 6px;
  box-shadow: 5px 10px rgb(186, 181, 181);
  height: 87%;
  border: 10px solid rgb(157, 157, 190);


}
.head{
  text-align: center;
  background-color:  rgba(16, 122, 179, 0.571);
  color:  black;
  padding: 15px;
}
input[type="text"],input[type="email"],input[type="number"],input[type="tel"],
input[type="password"] {
  height:30px;margin:6px;
  font-size: 1.1rem;
  border: 2px solid rgba(0, 0, 0, 0.2);

}

.reg-btn-container {
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  background: #175a0f;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

.reg-btn-container:hover {
  background: #49df67;
  
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form{
  background-color:rgba(29, 93, 122, 0.96);  margin-top: 30px;
padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.invalid-feedback{
  color: red;
  font-size: 20px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.7rem;
  margin: 10px;
}


/* =================================================================================================== */



/* about css */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.img{
    width: 100%;
    height: auto;
    margin-top: 0%;
  }

.about-section{
	width: 60%;
	border: 10px solid #9e9ebf;
    background-color:rgba(16, 122, 179, 0.571);
	border-radius: 6px;
    position: absolute;
    top: 9%;
    left: 25%;
}
.about-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
    
}
.about-content-section{
	float: left;
	width: 55%;
    padding-left: 20px;
    margin-bottom: 80px;
}

.about-content-section .title{
	text-transform: uppercase;
	font-size: 28px;
   
}
.about-content-section .content h3{
	margin-top: 17px;
	color:#ffffff;
	font-size: 21px;
   
}
.about-content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
    color: #ffffff;
}
.about-content-section .content .button{
	margin-top: 30px;
}
.about-content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.about-content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.about-content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.about-content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.about-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.about-content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}

.img{
    width: 100%;
    height: auto;
    margin-top: 0%;
  }

.about-content-section .title{
	text-align: center;
	font-size: 19px;
}
.about-content-section .content .button{
	text-align: center;
}
.about-content-section .content .button a{
	padding:9px 30px;
}
.about-content-section .social{
	text-align: center;
}

} */

/* =================================================================================================== */


/* 
contact page css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
} 

.img{
  width: 100%;
  height: auto;
  margin-top: 0%;
}
.container{
  margin-top: 40px;
  margin-left: 13%;
  width: 60%;
  border: 10px solid rgb(157, 157, 190);
  background-color:rgba(29, 93, 122, 0.96);
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow:  5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 15%;
  left: 10%;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #e6ebed;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #5cd317;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 16px;
  font-weight: 500;
  color: #d7d7e2;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: 2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
  
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.button{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  background: #080e79;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: rgb(4, 48, 4);
 
}


@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

/* =================================================================================================== */

/* footer css */

.footer {
  background-color: black;
  color:#fff; 
  padding:20px;
  text-align: center;
}



@media (max-width: 767px) {
.intro-text {display: none;}
}

#about{
margin-top:-10px ;
width:100%;
height: 120vh;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
padding: -10px 5% 0px 0%;
position: relative;
}

.about-text{
  width: 45%;
  color: #fff;
  margin-top: -rem;
  list-style: circle;
}
.about-text h1{
font-size: 2.5rem;
color:blue;
  font-weight: 500;
  
padding: 0px;
}
.about-text p{
  width: 100%;
font-size: 1.2rem;
color:black;

}
.about-text button{
  margin-top: 0px;
width: 140px;
height: 45px;
border-radius: 10px;
border: none;
  outline: none;
  color: #ffffff;
background-color:blueviolet;
}
.about-text button:hover{
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
background-color: rgb(0, 0, 0);
  transition: all ease 0.3s;
  color: #ffffff;
}
.about-image{
  width: 50%;
}
.about-image img{
width: 600px;
}
.about-image img{
  height:400px;
  }